:root {
  /* Colors */
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);

  /* Typography */
  --font-body: "Figtree", sans-serif;
  --font-size-p: 16px;

  /* Font weights */
  --fw-medium: 500;
  --fw-bold: 800;
}

body {
    font-family: var(--font-body);
    font-size: var(--font-size-p);
    background-color: var(--yellow);
    color: black;
    line-height: 1.6;
    justify-content: center;
}


.container {
  background-color: var(--white);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 1);
  max-width: 350px;
  margin: auto;
  border-radius: 10px;
  
  overflow: auto;
  padding: 20px;
  margin-bottom: 100px;
}


.crop {
    width: 100%;
    aspect-ratio: 336 / 201;   /* ou 1 / 1, 4 / 5 selon ton design */
 
    background-image: url("./assets/images/illustration-article.svg");
        /* NE PAS resize */
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
    border-radius: 20px;      
    overflow: auto;       
    margin-bottom: 15px;
    
}
.container .display-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;

}

.container .tag {
    font-weight: var(--fw-bold);
    background-color: var(--yellow);
    color: black;
    padding: 5px 10px;
    width: fit-content;
    border-radius: 3px;
    margin-bottom: 10px;
}

.container .date {
    color: var(--gray-950);
    font-weight: var(--fw-medium);
    margin-bottom: 10px;
}
.container .title {
    font-weight: var(--fw-bold);
    font-size: 1.5em;
    margin-bottom: 10px;
}

.container .title:hover {
  
    color: var(--yellow);
}



.container .description {
    color: var(--gray-500);
    margin-bottom: 20px;
}

.container .author {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: var(--fw-bold);
    color: var(--gray-950);
}