:root{
    --blue-100 : hsl(225, 100%, 94%);
    --blue-500 : hsl(245, 75%, 52%);

    --blue-50 : hsl(225,100%,98%);
    --gray-600 : hsl(224, 23%, 55%);
    --blue-950 : hsl(223, 47%, 23%);

    --font-size : 1rem;





}

body {
    font-family: "Red Hat Display", sans-serif;
  background-color: var(--blue-100);              /* ta couleur de fond */
  background-image: url("./images/pattern-background-desktop.svg"); 
  background-repeat: no-repeat;                   /* ou repeat si c’est un motif */
  background-position: top center;                /* ou selon ta maquette */
  background-size: cover; 
    display: grid;
    grid-template-columns: 1fr;
  
}


.container{
    background-color: var(--blue-50);
    display: grid;
    max-width: 450px;
    border-radius: 10px;
    grid-template-columns: 1fr;
    inset: 0;
    margin: auto;
}

.image {
    width: 100%;
    
    border-radius: 15px 15px 0 0;

}
.image img{
    width: 100%;
      border-radius: 15px 15px 0 0;
}


.product{

    padding: 7%;
    display: column;
    text-align: center;

}

.product__title{
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--blue-950);
    margin-bottom: 5%;
}

.product__desc{

    color : var(--gray-600);
    font-weight: 700;
    margin-bottom: 5%;

}


.product__billing{
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-100);
    border-radius: 5px;
}

.product__billing::before{
    margin-right: 3%;
    content: "";
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-image: url("./images/icon-music.svg");
    background-size: contain;
    background-repeat: no-repeat;

}

.grid__vert__first{
    color: black;
    font-weight: 900;
}

.grid__vert__second{
    color: var(--gray-600);
}

.product__billing__left{
    margin-left: auto;
    font-weight: 700;
    color: var(--blue-500);
    text-decoration: underline;
}


.product__billing__left:hover{

    text-decoration: none;
}
.grid__vert{

    display: grid;

}

button {
  border: none;              /* enlève la bordure par défaut */
  outline: none;             /* enlève le contour au focus */
  background: none;          /* pas de couleur par défaut */
  padding: 0;                /* reset */
  margin: 0;
            /* garde la même police */
  cursor: pointer;           /* main au survol */
  -webkit-tap-highlight-color: transparent; /* enlève flash sur mobile */

    border-radius: 5px;
    padding: 3%;
    margin: 3%;
    font-weight: 700;
}

.product__payement{

    background-color: var(--blue-500);
    color: white;


}

.product__cancel{
    background-color: var(--blue-50);
    color: var(--gray-600);
}

.product__payement:hover{

    background-color: var(--blue-500);
    opacity: 0.7;

    color: white;
    box-shadow: 5px 5px 10px var(--gray-600);


}

.product__cancel:hover{
    background-color: var(--blue-50);
    color: black;
}