@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  --font-size-body: 13px;
  --font-family-heading: "Manrope", sans-serif;
  --font-weight-500: 500;
  --font-weight-700: 700;
}

body{
    font-family: "Manrope";
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    background-color: var(--light-grayish-blue);
}

.card {
    background: white;
    border-radius: 10px;
    overflow: hidden; 
    max-width: 350px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
}

.card-image {
  width: 100%;
  display: block;
}



.body-title{
    font-size: 700;
    color: var(--very-dark-grayish-blue);
    font-size: 24px;
    padding: 35px ; 
}

.body-desc{
color: var(--very-dark-grayish-blue);
    padding: 35px;
}


.share{
    display: grid;
    grid-template-columns: 32px 1fr 32px;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
    padding: 35px;
}

.share.open{
    display: none;
}

.shared.close{
    display: none;
}

.share-avatar{
    width: 32px;
    height: 32px;
    background-image: url("./images/avatar-michelle.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.shared{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--very-dark-grayish-blue);
    padding: 35px;
    gap: 1rem;
    color: white;
}

.bold-dark{
    font-size: 700;

}

.gray {
    color: var(--very-dark-grayish-blue);
}

.back{
    background-color: var(--desaturated-dark-blue) ;
    padding: 10px;
    border-radius: 50%;
    margin-left: auto;
}


@media (min-width : 600px){

    .card{
        grid-template-columns: 35% 65%;
        max-width: 1000px;
    }

    .card-image{
        height: 100%;
    }

    .share__wrapper{
        position: relative;
    }
    .shared {
        position: absolute;
        bottom: 75px;      
        right: 0px;         

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        background-color: var(--very-dark-grayish-blue);
        color: white;

        padding: 10px 20px;
        border-radius: 10px;
        transition: 0.2s ease;
    }
    .shared::after {
        content: "";
        position: absolute;

        bottom: -10px;


        left: 68%;
        transform: translateX(-50%);

        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid var(--very-dark-grayish-blue);
    }


    .share.open{
        display: grid;
    }

    .shared.close{
        display: flex;
        opacity: 0;
        visibility: hidden;
    }

    .share.open .shared {
        opacity: 1;
        visibility: visible;
    }

    .back{
        display: none;
    }

    
}