:root {

  --blue-500: hsl(215, 51%, 70%);
  --cyan-400: hsl(178, 100%, 50%);

  --blue-950: hsl(217, 54%, 11%); /* main BG */
  --blue-900: hsl(216, 50%, 16%); /* card BG */
  --blue-800: hsl(215, 32%, 27%); /* line */
  --white: hsl(0, 0%, 100%);

  
  --font-body-size: 18px;
}


body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;               
  font-size: var(--font-body-size);
  color: var(--blue-500);       
  background-color: var(--blue-950);
}

.container{
    background-color: var(--blue-900);
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px;
      margin: clamp(10px, 10vw, 25%);  

}

.image {
  width: 90%;
  padding: 5%;
  position: relative;
  display: inline-block;
}


.image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 128, 255, 0); 
  transition: background 0.3s ease;
  pointer-events: none;
}

.image:hover::after {
    
    height: 90%;
    width: 90%;
    margin: 5%;
    border-radius: 10px;
    background: hsla(178, 100%, 50%, 0.4);; 
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.image:hover .icon {
  opacity: 1;
}

.product{
    padding: 0 5% 5% 5%;
}

.product__title{

    color: var(--white);
    margin-bottom: 5%;
}

.product__desc{
    color : var(--blue-500);
    font-size: 1rem;
    margin-bottom: 5%;
}

.product__data__price{
    color: var(--cyan-400);
}

.product__data {
  display: flex;
  margin-bottom: 5%;
}

.product__data__price::before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("./images/icon-ethereum.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.product__data__timer{
    
    margin-left:auto ;


}


.product__author{
    display: flex;
    
    align-items: center ;
    border-top: 1px solid var(--blue-500); /* ligne */
    padding-top: 5%;      
    font-size: 1rem;  
    
}

.product__author::before{
    margin-right: 4%;
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("./images/image-avatar.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid var(--blue-500);


}
.highlight{
    color: var(--white);
}

.highlight:hover{
    color: var(--cyan-400);
}

.highlight image:hover{
    color: var(--cyan-400);
}