:root {
  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(217, 12%, 63%);
  --grey-900: hsl(213, 19%, 18%);
  --grey-950: hsl(216, 12%, 8%);
  --orange-500 : hsl(25, 97%, 53%);
}


body{

    font-family: "Overpass";
    background-color: var(--grey-950);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}



.panel {

    position: relative;
    background:
        radial-gradient(
        circle at 50% -10%,
        hsla(217, 12%, 63%,0.3) 5%,
        hsla(213, 19%, 18%,0.6) 20%,
        hsla(216, 12%, 8%,0.8) 100%
        ),

        var(--grey-900);



        border-radius: 35px;
        width: 300px;
        
        padding: 45px;
}

/* --- state system  --- */
.state-form,
.state-thanks {
  display: none;

}

.panel.show-form .state-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
}

.panel.show-thanks .state-thanks {
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
}

/* --- icon --- */

.state-form img{
    background-color: var(--grey-900);
    border-radius: 50%;
    width: 25px;
    padding: 7px;
    margin-right: auto;
}

/* --- h2 title --- */ 

h2{
    margin-right: auto;
}


/* --- input --- */

.form-rate input {
    display: none;
}

.form-rate label {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: var(--grey-900);
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: var(--white);
    cursor: pointer;
    transition: 0.2s;
}

.form-rate label:hover {
    background-color: var(--orange-500);
    color: var(--grey-950);
}


.form-rate input:checked + label {
    background-color: var(--white);
    color: var(--grey-950);
}

/* --- submit button --- */

button{
    border: none;
    background-color: var(--orange-500);
    color: var(--grey-950);
    padding: 1rem 1.5rem;
    border-radius: 35px;    
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 300px;
}

button:hover{
    
    background-color: var(--white);

}


/* --- state-thanks --- */

.state-thanks h2{
    margin: 0;
}

.rating{
    background-color: var(--grey-900);
    padding: 0.5rem 0.75rem;
    border-radius: 35px;
    color: var(--orange-500);
}

.desc{
    color: var(--grey-500);
    text-align: center;
}