
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #acc7ef;
}

.container{
    width: 250px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    padding: 10px;
}

.container img{ 
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.container .title{
    width: 100%;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
    color: #1f3251;
}

.container .description{
    width: 100%;
    font-size: 15px;
    color: #7b8ca3;
    margin-bottom: 20px;
   
    line-height: 1.5;
}