
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');



:root {
    --white: hsl(0, 100%, 100%);

    --purple-100: hsl(275, 100%, 97%);
    --purple-600: hsl(292, 16%, 49%);
    --purple-950: hsl(292, 42%, 14%);
}


body {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--purple-950);
    background-color: var(--purple-100);
    height: 100vh;
    background-image: url("./assets/images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container{
   
    width: 500px;
    text-align: center;
    margin-top: 150px ;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    overflow: hidden;

    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));


}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 600;
  color: var(--purple-950);
  cursor: pointer;
}

.title{
    text-align: left;
    font-weight: 700;
    color: var(--purple-950);
    font-size: 48px;
}

.title::before{
    content: url("./assets/images/icon-star.svg");
}

.content {
    max-height: 0;             
    overflow: hidden;
    transition: max-height 0.2s ease;
    color: var(--purple-600);
    line-height: 1.5;
    margin-top: 8px;
    text-align: left;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.20s ease, opacity 0.15s ease;
    opacity: 0;
}

.item.open .content {
    min-height: 150px;
    width: 90%;
  opacity: 1;
    max-height: 300px;          
}

.header::after {
    content: url("./assets/images/icon-plus.svg");                
    margin-right: 40px;


}

.item.open .header::after {
  content: url("./assets/images/icon-minus.svg");              

}