:root {

  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);


  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}



.text-orange { color: var(--soft-orange); }
.text-red { color: var(--soft-red); }

.bg-orange { background: var(--soft-orange); }
.bg-red { background: var(--soft-red); }

.text-off-white { color: var(--off-white); }
.text-grayish-blue { color: var(--grayish-blue); }
.text-dark-grayish-blue { color: var(--dark-grayish-blue); }
.text-very-dark-blue { color: var(--very-dark-blue); }

.bg-off-white { background: var(--off-white); }
.bg-grayish-blue { background: var(--grayish-blue); }
.bg-dark-grayish-blue { background: var(--dark-grayish-blue); }
.bg-very-dark-blue { background: var(--very-dark-blue); }


* {

    box-sizing: border-box;
    text-decoration: none;
    
}

body{
    color: var(--very-dark-blue);
    font-family: "Inter",sans-serif;
}

body.no-scroll {
  overflow: hidden;
}
/* --- header --- */

nav li{

    list-style: none;
}

nav a:hover{
    color: var(--soft-orange);
}

nav ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav a{
    color: var(--dark-grayish-blue);
    
}

nav{
    margin-left: auto;
}

.header__inner {
    display: flex;
    flex-direction: row;
}

/* --- main --- */

.main{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "hero "
    "sidebar-new"
    "articles";
    column-gap: 25px;
    row-gap: 25px;

}


.container{
    padding: 50px;
}

.hero {
    grid-area: hero;
}
/* side bar */
.sidebar-new{
    grid-area: sidebar-new;
    background-color: var(--very-dark-blue);
    color: var(--off-white);
    padding: 25px;   
}
.sidebar-new article:first-of-type h3{

    border-top: none;
    margin-top: 0px;
    padding-top:0px;
}
.sidebar-new h3{
    font-size: 18px;
    color: var(--off-white);
    border-top: 1px solid var(--dark-grayish-blue);
    margin-top: 20px;
    padding-top: 20px;
}


.sidebar-new a{
 
    color: var(--off-white);

}
.sidebar-new p {
    opacity: 0.70;
    font-size: 12px;
}







/* --- articles --- */ 



.articles {
    grid-area: articles;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

.card{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "card-image card-desc";
    gap: 25px;
}

.card .image{
    grid-area: card-image;

}

.card img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.card .desc{
    grid-area: card-desc;
}
.card a:hover{
    color: var(--soft-red);
}

.card .index{
    color: var(--soft-red);
    font-size: 25px;
}


/* --- hero --- */
.hero__content{
    display: grid;
    grid-template-columns: 1fr;
}

.hero__content h1{
    font-size: 48px;
}

.hero__content .btn{
    display: inline-block;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--very-dark-blue);
    font-weight: 700;
    background-color: var(--soft-red);
}
.hero__content .btn:hover{
    background-color: var(--very-dark-blue);
    color: var(--off-white);

}


.hero-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.nav-close,
.nav-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.nav-toggle{
    margin-left: auto;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 70%;
  background: var(--off-white);
  padding: 2rem;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.nav.is-open {
    
  transform: translateX(0);
}

.nav-close {
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 2rem;
}


@media (min-width : 600px){


    .main{

        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "hero sidebar-new"
        "articles articles";
        
    }

    .articles {
        grid-area: articles;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
    }
    .hero__content{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    nav {
        display: block;
        margin-left: auto;
       
        position: static;
        height: auto;
        width: auto;
        transform: none;
        padding: 0;
    }

    nav ul{
        margin-left: auto;
        flex-direction: row;
    }

    .nav.is-open {
        transform: none;
    }

    .nav-close,
    .nav-toggle {
        display: none;
    }

    

}