:root {
  /* Colors */
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --gray-700: hsl(0, 0%, 20%);
  --gray-800: hsl(0, 0%, 12%);
  --gray-900: hsl(0, 0%, 8%);

  /* Typography */
  --font-body: "Inter", sans-serif;
  --font-size-p: 16px;

  /* Font weights */
  --fw-small : 400;
  --fw-medium: 600;
  --fw-bold: 700;
}

body{
    font-family: var(--font-body);
    font-size: var(--font-size-p);
    background-color: var(--gray-900);
    max-width: 320px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 70px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-800);
    border-radius: 5%;
    padding: 10px;
    margin: auto;
    text-align: center;
}

.container img {
    align-items: center;
    border-radius: 50%;
    width: 25%;
    height: auto;
    margin: 10px;
}

.container .title{
    color: white;
    font-weight: var(--fw-medium);
    font-size: 30px;
    margin: 10px;
}

.container .location{

    color: var(--green);
    margin-bottom: 10px;
}

.container .catch{

    color: white;
    margin: 10px 0;
  
}

.container ul{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: -10px;
}

.container li{

    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    color: var(--white);
    list-style: none;
    background-color: var(--gray-700);
    cursor: pointer;
}

.container li:hover{

    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    color: black;
    
    list-style: none;
    background-color: var(--green);
}