:root{


    --red : hsl(0, 78%, 62%);
    --cyan : hsl(180, 62%, 55%);
    --orange :hsl(34, 97%, 64%);
    --blue : hsl(212, 86%, 64%);

    --grey-500 :hsl(234, 12%, 34%);
    --grey-400 :hsl(212, 6%, 44%);



}

body {

    margin : 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    font-family: "Poppins", sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
    
}

.header{
    max-width: 500px;
    text-align: center;
    margin-bottom: 60px;
}

.header__title{
    font-size: 24px;
    color: var(--grey-500);
    margin-bottom: 20px;
}
.header__title span{

    font-weight: 600;

}

.header__desc{

    color: var(--grey-500);
}
.grid{
   display: grid;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 40px;
}
.midle{
   display: grid;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 40px;
}

.card{
    border-radius: 5px;
      box-shadow: 
    0 2px 4px rgba(0, 0, 0, 0.1),  
    4px 0 4px rgba(0, 0, 0, 0.08),  
    -4px 0 4px rgba(0, 0, 0, 0.08);
    max-width: 350px;
    padding: 20px;
}

.card__title{
    color: var(--grey-500);
    font-weight: 600;
}

.card__desc{

    color: var(--grey-400);
    margin-bottom: 20px;


}
.card.red{
    border-top: 5px solid var(--red);
}
.card.cyan{
    border-top: 5px solid var(--cyan);
}
.card.blue{
    border-top: 5px solid var(--blue);
}
.card.yellow{
    border-top: 5px solid var(--orange);
}

.card__icon{
    display: flex;
    justify-content: right;
   
    padding: 0 20px 20px 0 ;
}


@media (min-width : 700px) {

    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }



}